@model BackEndChangePassword
<div class="row">
    <div class="col-lg-12">
        @using (Html.BootstrapBeginForm())
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.BootstrapSubmit(isConfirmActive: true)
                    @Html.BootstrapResetForm()
                </div>
                <div class="panel-body">

                    @Html.AntiForgeryToken()
                    @Html.BootstrapValidationSummary()

                    <div class="col-lg-6">
                        @Html.BootstrapPasswordFor(m => m.CurrentPassword)

                        @Html.BootstrapPasswordFor(m => m.NewPassword)

                        @Html.BootstrapPasswordFor(m => m.ConfirmationPassword)
                    </div>
                </div>
            </div>
        }
    </div>
</div>