@model BackEndMediaGalleriesList
<div class="row">
    <div class="col-lg-12">
        @using (Html.BootstrapBeginForm(formMethod: FormMethod.Get, isDirtyFormMonitored: false))
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.BootstrapValidationSummary()

                    <div class="col-sm-6">
                        @Html.BootstrapTextBoxFor(m => m.MediaGalleryCode)
                    </div>
                    <div class="col-sm-6">
                        @Html.BootstrapDropDownListFor(m => m.IsActive, FormHelper.GetSelectListForYesNo(), MVCwCMS.Resources.Strings.Any)
                    </div>
                </div>
                <div class="panel-footer">
                    @Html.BootstrapApplyFilter()
                    @Html.BootstrapResetFilter()
                    @Html.BootstrapButtonAdd("/Admin/MediaGalleriesAddEdit")
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            @if (Model.MediaGalleryList.IgnoreNulls().Count() > 0)
            {
                using (Html.BootstrapBeginForm("", "", isDirtyFormMonitored: false))
                {
                    @Html.AntiForgeryToken()

                    WebGridHelper webGrid = new WebGridHelper(Model.MediaGalleryList, defaultSort: "MediaGalleryCode", sortDirection: SortDirection.Ascending, rowsPerPage: 10);
                    @webGrid.GetExtendedHtml(
                        columns: webGrid.ExtendedColumns(
                            webGrid.ExtendedColumn("", "", @<text>@Html.BootstrapButtonEdit("/Admin/MediaGalleriesAddEdit/" + item.MediaGalleryCode as string + "/")</text>, style: "col-10"),
                            webGrid.ExtendedColumn("", "", @<text>@Html.BootstrapButtonDelete("/Admin/MediaGalleriesDelete", item.MediaGalleryCode as object, item.MediaGalleryCode as string)</text>, style: "col-10"),
                            webGrid.ExtendedColumn("", "", @<text><a href="/Admin/MediaItems/@item.MediaGalleryCode"><i class="fa fa-picture-o" data-toggle="tooltip" title="@MVCwCMS.Resources.Strings_MediaGalleries.MediaItems"></i></a></text>, style: "col-10"),
                            webGrid.ExtendedColumn("MediaGalleryCode", MVCwCMS.Resources.Strings_MediaGalleries.MediaGalleryCode),
                            webGrid.ExtendedColumn("PublishDate", MVCwCMS.Resources.Strings.PublishDate, format: @<text>@ExtensionsHelper.ToDateTimeString(item.PublishDate)</text>, style: "col-160"),
                            webGrid.ExtendedColumn("UserName", MVCwCMS.Resources.Strings.Username, style: "col-130"),
                            webGrid.ExtendedColumn("IsActive", MVCwCMS.Resources.Strings.Active, format: @<text>@Html.BootstrapIsTicked(item.IsActive as bool?)</text>, style: "col-80 text-center")
                        )
                    );
                }
            }
        </div>
    </div>
</div>